my-first-app/

course-project/
cmp-databinding-start/
services-start/
directives-start/
.DS_Store
__MACOSX/
basics-assignment-2-start/
basics-assignment-3-start/
routing-start/
the-basics-after-24/
the-basics/
