<!-- We can use bootstrap for styling -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the AppComponent!</h3>
      <hr />
      <app-servers></app-servers>
      <!-- Instead of using it as element, since we specified the selector -->
      <!-- as attribute in our component, we can now use it like this -->
      <!-- <div app-servers></div> -->
      <!-- We can also use it as class if we specified it as class in our component -->
      <!-- <div class="app-servers"></div> -->
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
    </div>
  </div>
</div>
